<%- include('header.html') -%>

<section>

<h5> Pergunta <%=pergunta.id_pergunta%> </h5>

<p><%=pergunta.texto%></p>

<h5> Respostas </h5>

<% if (respostas.length===0) { %>
    <p> Ainda não temos respostas para essa pergunta!
      <% } else { %>
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% for (const res of respostas) { %>
            <tr>
              <td><%= res.texto%></th>
            </tr>        
            <% } %>
          </tbody>
          </table>      
        <% } %>
  
  </section>
  
  <h5> Dê a sua resposta </h5>
  
  <section>
    <form action="/respostas" id="form" method="post">
    <input type="hidden" id="form" name="id_pergunta" value="<%=pergunta.id_pergunta%>">    
    </form>
    <textarea rows="3" cols="50" name="resposta" form="form"></textarea><br>
    <input type="submit" form="form" value="Enviar">
  
  </section>
  
  <%- include('footer.html') -%>
  