<%- include('header.html') -%>

<section>

<center>
<h5> Perguntas Atuais </h5>
</center>

<% if (perguntas.length===0) { %>
  <p> No momento, ainda não existe nenhuma pergunta cadastrada!
    <% } else { %>
        <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Pergunta</th>
            <th scope="col">Respostas</th>
          </tr>
        </thead>
        <tbody>
        <% for (const p of perguntas) { %>
          <tr>
            <th scope="row"><%= p.id_pergunta %></th>
            <td><%=p.texto%></td>
            <td><a href="/respostas/?id_pergunta=<%=p.id_pergunta%>"><%=p.num_respostas%></a></td>
          </tr>        
          <% } %>
        </tbody>
        </table>      
      <% } %>

</section>

<h5> Faça sua pergunta </h5>

<section>
  <form action="/perguntas" id="form" method="post">
  </form>
  <textarea rows="3" cols="50" name="pergunta" form="form"></textarea><br>
  <input type="submit" form="form" value="Enviar">

</section>

<%- include('footer.html') -%>

